@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body {
  margin: 0;
}
.main-header {
  background: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
}

.main-header h1 {
  font-size: 30px;
}

.main-menu {
  display: flex;
}

.menu-item {
  display: block;
  margin: 10px;
}

.menu-link {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.3);
  transition: 0.3s;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}

.menu-link:hover {
  box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.8);
}
.big-pic {
  height: calc(100vh - 120px);
  width: 100%;
  background: url("https://www.rocketspace.com/hs-fs/hubfs/images_rocketspace/RocketSpace64_-_Wide.jpg?width=2100&name=RocketSpace64_-_Wide.jpg");
}
.split {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.left-text {
  width: 400px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.right-text {
  width: 400px;
}

.brief {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brief-item {
  width: 300px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  background: white;
  margin: 20px;
  transition: 0.3s;
}

.brief-item:hover {
  transform: scale(1.1);
}

.brief-item > img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.brief-item > p {
  position: relative;
  left: 0;
  margin-top: 100px;
  color: Red;
  font-family: fantasy;
  text-align: center;
}

.main-footer {
  height: 150px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.it-nazvanie,
.it-nazvanie2,
.it-nazvanie3 {
  text-align: center;
}

.it-text {
  font-family: "Roboto", sans-serif;
  margin: 10px 30px 5px 30px;
  min-height: 100%;
  padding-bottom: 7px;
}
.it-text1 {
  font-family: "Roboto", sans-serif;
  margin: 10px 30px 35px 30px;
}
.it-text2 {
  font-family: "Roboto", sans-serif;
  margin: 10px 30px 5px 30px;
  min-height: 100%;
  padding-bottom: 50px;
}
.galerynazv {
  text-align: center;
}
.slider {
  margin: auto;
  margin-bottom: 200px;
  margin-top: 50px;
  width: 1000px;

  height: 600px;

  position: relative;

  overflow: hidden;

  white-space: nowrap;
}

.slider_body {
  width: calc(1000px * 12);

  height: 600px;

  position: relative;

  overflow: hidden;

  white-space: nowrap;

  transition: 0.5s;
}

.pos1 {
  transform: translateX(0);
}

.pos2 {
  transform: translateX(-1000px);
}

.pos3 {
  transform: translateX(-2000px);
}

.pos4 {
  transform: translateX(-3000px);
}

.pos5 {
  transform: translateX(-4000px);
}

.pos6 {
  transform: translateX(-5000px);
}

.pos7 {
  transform: translateX(-6000px);
}

.pos8 {
  transform: translateX(-7000px);
}

.pos9 {
  transform: translateX(-8000px);
}

.pos10 {
  transform: translateX(-9000px);
}

.pos11 {
  transform: translateX(-10000px);
}

.pos12 {
  transform: translateX(-11000px);
}

.slider:hover .btn {
  background: rgba(0, 0, 0, 0.1);
}

.slider:hover .btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

.slider__img {
  width: 1000px;

  height: 600px;

  float: left;
}

.btn {
  width: 100px;

  height: 100%;

  background: rgba(0, 0, 0, 0);

  position: absolute;

  top: 0;

  transition: 0.3s;

  cursor: pointer;
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}
.img1 {
  background: url("https://www.spot.uz/media/img/2019/07/hVG0UP15625839683797_l.jpg")
    50% / cover;
}
.img2 {
  background: url(/img/office_mail2.jpg) 50% / cover;
}

.img3 {
  background: url(/img/office_mail3.jpg) 50% / cover;
}

.img4 {
  background: url(/img/office_mail4.jpg) 50% / cover;
}

.img5 {
  background: url("https://i.pinimg.com/originals/3b/45/3a/3b453a30159b5dd428cf96066bedb52d.jpg")
    50% / cover;
}

.img6 {
  background: url(/img/office_google2.jpg) 50% / cover;
}

.img7 {
  background: url(/img/office_google3.jpg) 50% / cover;
}

.img8 {
  background: url(/img/office_google4.jpg) 50% / cover;
}

.img9 {
  background: url("https://zabor.net/wp-content/uploads/2016/02/za_bor_Yandex_Istanbul_office_04.jpg")
    50% / cover;
}

.img10 {
  background: url(/img/office_yandex2.jpg) 50% / cover;
}

.img11 {
  background: url(/img/office_yandex3.jpg) 50% / cover;
}

.img12 {
  background: url(/img/office_yandex4.jpg) 50% / cover;
}

.prikoltext {
  text-align: center;
  margin-bottom: 659px;
}

.first_photo {
  margin: auto;
  margin-bottom: 200px;
  margin-top: 50px;
  width: 1100px;

  height: 600px;

  position: relative;

  overflow: hidden;

  white-space: nowrap;
}

.how_nazv{
  display: flex;
}

.block-text{
  margin:40px 0px 0px 40px;
  font-size:14pt;
}

.how_h1 {
  text-align: center;
}

.it-spec_img {
  width: 749px;
  height: 500px;
  margin-left: 50px;
  margin-top:10px;
  position: relative;
  float: right;
}
